/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: transparent;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

/*SVG */
.material-loader {
  position: absolute;
  height: 45px;
  width: 45px;
  top:50%;
  left:50%;
  z-index:1000;
}


.material-spinner {
  animation: rotate 2s linear infinite;
}

.material-spinner circle {
  fill: none;
  stroke: #8c8c8c;
  stroke-dasharray: 2, 155;
  stroke-dashoffset: 0;
  animation: dash 1.35s cubic-bezier(0.4,0,0.2,1) infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 2, 155;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 122, 20;
    stroke-dashoffset: -20;
  }
  100% {
    stroke-dasharray: 2, 155;
    stroke-dashoffset: -155;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

